image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_TLS_CERTDIR: ""

stages:
  - build

before_script:
  - apk add --no-cache docker-compose  # si usas Alpine
  - docker info

build:
  stage: build
  script:
    - docker compose build